<div style="height: 800px; width: 1200px; border: 1px solid red; position: relative;margin: 0 auto">

  <div ngDraggableResizable
    [w]="200"
    [h]="200"
    [parent]="true"
    [minWidth]="200"
    [minHeight]="200"
    [snap]="true"
    [snapTolerance]="10"
    class="test1"
    [disableUserSelect]="true"
    (refLineChange)="refLineChange($event)">
    1
  </div>

  <div ngDraggableResizable
    [w]="200"
    [h]="200"
    [parent]="true"
    [minWidth]="200"
    [minHeight]="200"
    [x]="210"
    [snap]="true"
    [snapTolerance]="10"
    class="test2"
    [disableUserSelect]="true"
    (refLineChange)="refLineChange($event)">
    2
  </div>

  <div ngDraggableResizable
    [w]="200"
    [h]="200"
    [parent]="true"
    [minWidth]="200"
    [minHeight]="200"
    [x]="420"
    [snap]="true"
    [snapTolerance]="10"
    class="test3"
    [disableUserSelect]="true"
    (refLineChange)="refLineChange($event)">
    3
  </div>


  <!-- 参考线 -->
  <span class="ref-line v-line"
    *ngFor="let item of refLineDef.vLine"
    [ngStyle]="{ left: item.position+'px', top: item.origin+'px', height: item.lineLength+'px'}"></span>

  <span class="ref-line h-line"
    *ngFor="let item of refLineDef.hLine"
    [ngStyle]="{ top: item.position+'px', left: item.origin+'px', width: item.lineLength+'px'}"></span>
</div>
